extends layout

block content
    div(hx-get="/fetch-content" hx-trigger="click" hx-swap="outerHTML")
        button Fetch Content
    div(hx-get="/fetch-content" hx-trigger="click" hx-swap="outerHTML")
        button Fetch Content
    div(hx-get="/fetch-content" hx-trigger="click" hx-swap="outerHTML")
        button Fetch Content
    div(hx-get="/fetch-content" hx-trigger="click" hx-swap="outerHTML")
        button Fetch Content
